{% extends "i/layout/base.html" %}
{% block title %} {{ user }} -  {{ title }} {% endblock %}
{% block main_section %}

			<div class="col-lg-12">
				<ul class="nav nav-tabs order-tabs col-lg-10 col-lg-offset-1" role="tablist">
					<!-- <ul class="nav nav-pills order-tabs col-lg-6 col-lg-offset-3" role="tablist"> -->
					<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><span class="fa fa-info fa-lg"></span> Home</a></li>
					<li role="presentation"><a href="#style" aria-controls="settings" role="tab" data-toggle="tab"><span class="fa fa-spinner fa-spin"></span> Style</a></li>
					<li role="presentation"><a href="#female" aria-controls="female" role="tab" data-toggle="tab"><span class="fa fa-scissors fa-lg"></span> Female</a></li>
					<li role="presentation"><a href="#male" aria-controls="male" role="tab" data-toggle="tab"><span class="fa fa-scissors fa-lg"></span> Male</a></li>
					<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><span class="fa fa-spinner fa-spin"></span> Last</a></li>
				</ul>
			</div>

	<div class="col-lg-10 col-lg-offset-1">
		<h1 style="text-align:center">Create your outfit</h1>


		<form class="form-order" method="POST" action="{% url 'suave:create_order' %}">
		{% if error %}
			<div class="shakere"><h3 class="alert alert-danger">{{ error }}</h3></div>
		{% endif %}
		{% if input_errors %}
			<div class="shakere"><h3 class="alert alert-warning">{{ input_errors }}</h3></div>
		{% endif %}

		{% csrf_token %}


			<div class="tab-content order-tab-content">
				<div role="tabpanel" class="tab-pane active" id="home">
					<div class="row">
						<div class="order-tab-content" style="">
							<div class="form-group">
								<!-- Choose Fabric -->
								
									<h4>Select choice of fabric</h4>
									<div class="row">
									{% for fabric in fabrics %}
									<div class="col-sm-6 col-md-4">
										<div class="fabric thumbnail">
											<label for="{{ fabric.image_url }}">

												<img src="/static/img/fabrics/{{ fabric.image_url }}" alt="{{ fabric.name }}" style="height:300px;width:100%">
												<div class="caption">
													<h3>{{ fabric.name }}</h3>

													<p>{{ fabric.pattern }}</p>
												</div>
												<div class="thumbnail-hidden-caption">
													<h3>{{ fabric.description }}</h3>
												</div>

												<input type="radio" id="{{ fabric.image_url }}" name="fabric" value="{{ fabric.id }}">

											</label>
										</div>
									</div>
									{% endfor %}
									</div>

							</div>

						</div>
					</div>
				</div>



				<div role="tabpanel" class="tab-pane" id="style">
					<div class="row">
						<div class="order-tab-content" style="">
							<!-- Choose Style -->
								<div class="row">
									<h4>Select Style</h4>
									{% for style in styles %}
									<div class="col-sm-6 col-md-4">
										<div class="style thumbnail">
											<label for="{{ style.name }}">

												<img src="/static/img/{{ style.style_img }}" alt="{{ style.name }}" style="height:300px;width:100%">
												<div class="caption">
													<h3>{{ style.name }}</h3>

													<p>{{ style.pattern }}</p>
												</div>
												<div class="thumbnail-hidden-caption">
													<h3>{{ style.description }}</h3>
												</div>

												<input type="radio" id="{{ style.name }}" name="style" value="{{ style.id }}">

											</label>
										</div>
									</div>
									{% endfor %}
								</div>
						</div>
					</div>
				</div>





				<div role="tabpanel" class="tab-pane" id="female">
					<div class="row">
						<div class="col-lg-6 col-lg-offset-3 order-tab-content" style="">
							<div class="size-details size-details-head">
								<li>Size</li>
								<li>Chest</li>
								<li>Waist</li>
								<li>Hips</li>
								<li>Sleeve</li>
								<li>Collar</li>
							</div>

						{% for i in female_size_table %}
						<div class="size-container">
							<label for="{{ i.id }}">
							<div class="size-details">.
								<input type="radio" id="{{ i.id }}" value="{{ i }}" name="size">
								<li>{{ i | cut:'Fe'}}</li>
								<li>{{ i.collar }}</li>
								<li>{{ i.waist }}</li>
								<li>{{ i.hips }}</li>
							</div>
							</label>
						</div>
						{% endfor %}
						</div>
					</div>
				</div>



				<div role="tabpanel" class="tab-pane" id="male">
					<div class="row">
						<div class="col-lg-6 col-lg-offset-3 order-tab-content" style="">
							<div class="size-details size-details-head">
								<li>Size</li>
								<li>Chest</li>
								<li>Waist</li>
								<li>Hips</li>
								<li>Sleeve</li>
								<li>Collar</li>
							</div>

						{% for i in male_size_table %}
						<div class="size-container">
							<label for="{{ i.id }}">
							<div class="size-details">.
								<input type="radio" id="{{ i.id }}" value="{{ i }}" name="size">
								<li>{{ i | cut:'Ma'}}</li>
								<li>{{ i.collar }}</li>
								<li>{{ i.waist }}</li>
								<li>{{ i.hips }}</li>
							</div>
							</label>
						</div>
						{% endfor %}
						</div>
					</div>
				</div>

				<div role="tabpanel" class="tab-pane" id="settings">
					<div class="row">
							<div class="col-lg-6 col-lg-offset-3 order-tab-content" style="">
							{% for field in order_form.visible_fields %}
								{{ field.errors }}
								<h4>{{ field.help_text }}</h4>
								<ul class="list-group">
									{{ field }}
								</ul>
								{% endfor %}



								<br><br>
								<h4>Other Details (optional)</h4>
								<br>
								<textarea class="form-control">
								Anything else you want us to know
								</textarea>
								<br><br>


								<div class="form-signup-base">
									<input type="submit" class="btn btn-success btn-lg" value="Submit">
								</div>
							</div>
						</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}