{% extends "i/layout/base.html" %}

{% block title %} {{ title }} {% endblock %}




{% block main_section %}
	<br><br><br>
		<div class="col-lg-4 col-lg-offset-4">
			<div class="form-container">
				<form class="form-signup" method="POST" action="{% url 'suave:clientRegister' %}">
					<div class="form-group">

						{% csrf_token %}


						{% for field in user_form.visible_fields %}
						{{ field.errors }}
						<h3>{{ field.help_text }}</h3>
						{{ field }}
						{% endfor %}

						{% for field in client_form.visible_fields %}

						<h3>{{ field.help_text }} &nbsp; &nbsp; &nbsp; {{ field.errors }}</h3>

						{{ field }}
						{% endfor %}

					</div>

					<div class="form-signup-base">
						<input type="submit" class="btn btn-success btn-lg" value="Register">
					</div>
				</form>
				<br><br><br>
			</div> <!-- End of form container -->
		</div> <!-- End of Sign up tab -->


{% endblock %}