{% extends "i/layout/staff_base.html" %}


{% block main_section %}
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<h1>Make changes</h1>
				<br><br>
				{% if orders %}
				<table class="table table-striped table-hover table-bordered">
					<thead>
						<tr style="background:#2196F3;color:#fff">
							<td>Name</td>
							<td>Order Sex</td>
							<td>Delivery Option</td>
							<td>Order Status</td>
							<td>Order ID</td>
							<td>Tailor</td>
						</tr>
					</thead>
					<tbody>
						{% for order in orders %}
						<tr>
							<td>{{ order.client }}</td>
							<td>{{ order.sex }}</td>
							<td>{{ order.delivery_option|lower }}</td>
							<td>{{ order.status|lower }}</td>
							<td style="color:#008;font-weight:bold">{{ order.main_order_id }}</td>
							<td>{{ order.tailor }}</td>
							<td>
								<a href="{% url 'staff:order_details' order.main_order_id %}" class="btn btn-success">View order</a>
								<a href="" class="btn btn-danger">Cancel order</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
					<div class="panel panel-danger">
						<div class="panel-heading"><h3>Sorry</h3></div>
						<div class="panel-body">
							<h2>Nothing to work on</h2>
							{% if work %}
							You have {{ work }} work(s) in progress
							{% endif %}
						</div>
					</div>
				{% endif %}
			</div>

		</div>
	</div>
	<br><br><br><br>
{% endblock %}