{% extends "i/layout/base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block header %}
	
{% endblock %}


{% block jumbotron %}
<div class="jumbotron-home-page">
	<h1>Largest collection of Nigeria's most creative and efficient tailors {{ name }}</h1>
	<h2>Outfits just for you.</h2>
	<div class="col-lg-4">
	</div>
	<div class="col-lg-4 action-button-wrapper-home">
		<a href="/suave/register" class="action-button-home">Get Started</a>
	</div>

</div>





<div class="benefits-home">
	<div class="container">
		<div class="row">


			<div class="col-lg-6 first-benefit-home" style="height:400px">
				<h2>Swift Delivery</h2>
				<p>
					With a fixed delivery time, you don't have to fuss about that special ceremony.
				</p>
				<p>
					Just make your order and we will work as fast as we can.
				</p>

				<h2>Experienced Tailors</h2>
				<p>
					All the tailors on our program have gone through rigorous test, to ensure that they are capable and can understand even the most complex designs.
				</p>
			</div>



			<div class="col-lg-6 second-benefit-home" style="height:400px">
				<h2>No hassle fabric selection</h2>
				<p>
					Select fabrics from the hotest stores in Lagos, Nigeria.
				</p>
				<p>
					You can choose the latest design from the comfort of your home or on your mobile phone.
				</p>
			</div>


		</div>
	</div>
</div>

{% endblock %}


{% block main_section %}

{% endblock %}