<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		
		<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
		<title>{% block title %}  {% endblock %}</title>

	</head>

	
	{% if tailorPage %}
	<body class="tailorPage-color">
	{% else %}
	<body>
	{% endif %}




	{% block utilityHeader %}

	{% endblock %}




	{% if tailorPage %}
		<nav class="navbar navbar-default" role="navigation" style="background:#B2EBF2">
	{% else %}
		<nav class="navbar navbar-default" role="navigation">
	{% endif %}
			<div class="container">
				<div class="row">
					<!--header section -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						<div id="header">
							<a class="navbar-brand" href="/suave">
								<img src="{% static 'img/my_logo_1.png' %}">
							</a>
						</div>

					</div>
					<!-- menu section -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<!-- <ul class="nav navbar-nav navbar-right"> -->
						<ul class="nav navbar-nav navbar-left">
							<li class=""><a href style="background:#">explore</a></li>
							<li class=""><a href="{% url 'suave:tailorHome' %}">people</a></li>
							<li class=""><a >about</a></li>
							<li class=""><a >contact</a></li>
							
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<!-- <button type="button" class="action-button-signin" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button> -->
							{% if user.is_authenticated %}
							<li><a href="{% url 'suave:signout' %}" class="">sign out</a></li>
								{% if user.tailor.rate %}
									<li><a href="{% url 'suave:tailorDashboard' %}" class="">Dashboard</a></li>
								{% else %}
									<li><a href="{% url 'suave:clientDashboard' %}" class="">Dashboard</a></li>
								{% endif %}
							<li><a class="">{{user}}</a></li>
							{% else %}
							<li><a role="button" class="" data-toggle="modal" data-target=".bs-example-modal-sm">sign in</a></li>
							{% endif %}
							{% if tailorPage %}
								<li class=""><a class="" style="background:#126ee3;color:#fff">Tailor Page</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</nav>





		{% block header %}
		


		{% endblock %}

		{% include 'i/common/_modal_login.html' %}

{% block jumbotron %}

{% endblock %}















		<div class="container">
			<div class="row">
				{% if error_message %}
				{{ error_message }}
				{% endif %}

				{% if my_debugger %}
				{{ my_debugger }}
				{% endif %}


					
					{% block main_section %}
					

						
					{% endblock %}


			</div>
		</div>
		<div>
			<!-- <a href="/suave" class="btn btn-primary btn-lg">Home</a> -->
		</div>

		<div class="footer">
			<div class="col-lg-6 footer-left">
				<ul class="col-sm-3">
					<li>Support</li>
					<li>Pricing</li>
					<li>Clients</li>
					<li>Partners</li>
					<li>Press</li>
				</ul>
				<ul class="col-sm-3">
					<li>Home</li>
					<li>About</li>
					<li>Careers</li>
					<li>Team</li>
				</ul>
				<ul class="col-sm-3">
					<li>Contact</li>
					<li>Blog</li>
					<li>Status</li>
					<li>Security/Guaranty</li>
				</ul>
			</div>
				<!-- <div class="col-lg-6 footer-left-left">
					
				</div>
				<div class="col-lg-6 footer-left-right">
					
				</div>
				<div class="col-lg-12 footer-left-base">
					
				</div> -->



			<div class="col-lg-6 footer-right">
				<img src="{% static 'img/my_logo.png' %}">
			</div>
		</div>


		<div class="footer-base">
			
		</div>
	</body>
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.effects.shake.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/my_script.js' %}"></script>
</html>