<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<title>{% block title %}  {% endblock %}</title>
	</head>

	<body>
		{% block header %}
		
		{% endblock %}



{% block jumbotron %}

{% endblock %}















		<div class="container">
			<div class="row">
				{% if error_message %}
				{{ error_message }}
				{% endif %}

				{% if my_debugger %}
				{{ my_debugger }}
				{% endif %}


					
					{% block main_section %}
					

						
					{% endblock %}


			</div>
		</div>
		<div>
			<!-- <a href="/suave" class="btn btn-primary btn-lg">Home</a> -->
		</div>

		<div class="footer">
			<div class="col-lg-6 footer-left">
				<div class="col-lg-6 footer-left-left">
					
				</div>
				<div class="col-lg-6 footer-left-right">
					
				</div>
				<div class="col-lg-12 footer-left-base">
					
				</div>
			</div>




			<div class="col-lg-6 footer-right">
				<img src="{% static 'images/suave_logo_white.png' %}">
			</div>
		</div>


		<div class="footer-base">
			
		</div>
	</body>
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/my_script.js' %}"></script>
</html>