<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<title>{% block title %}  {% endblock %}</title>
	</head>

	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="row">
					<!--header section -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						<div id="header">
							<a class="navbar-brand" href="/suave">

								<img src="{% static 'images/suave_logo_1.png' %}">

							</a>
						</div>

					</div>
					<!-- menu section -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class=""><a href="{% url 'suave:clientHome' %}" style="background:#ccdbee">customers</a></li>
							<li class=""><a href="{% url 'suave:tailorHome' %}"  style="background:#eecccc">tailors</a></li>
							<li class=""><a href="http://about">about</a></li>
							<li class=""><a href="http://contact">contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>



{% block jumbotron %}

{% endblock %}















		<div class="container">
			<div class="row">
				<!-- <h1 class="page-header">{{ header }}</h1> -->
				{% if error_message %}
				{{ error_message }}
				{% endif %}

				{% if my_debugger %}
				{{ my_debugger }}
				{% endif %}


				<!-- <h1 class="page-header">{% block header %} {% endblock %}</h1> -->
					
					{% block main_section %}
					

						
					{% endblock %}


			</div>
		</div>
		<div>
			<!-- <a href="/suave" class="btn btn-primary btn-lg">Home</a> -->
		</div>

		<div class="footer">
			<div class="col-lg-6 footer-left">
				<div class="col-lg-6 footer-left-left">
					
				</div>
				<div class="col-lg-6 footer-left-right">
					
				</div>
				<div class="col-lg-12 footer-left-base">
					
				</div>
			</div>




			<div class="col-lg-6 footer-right">
				<img src="{% static 'images/suave_logo_white.png' %}">
			</div>
		</div>


		<div class="footer-base">
			
		</div>
	</body>
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/my_script.js' %}"></script>
</html>