#id_sex li {
	display: inline-block;
	padding-left: 20px;
}
#id_sex li label, #id_delivery_option li label {
	font-weight: lighter;
}
#id_delivery_option li {
	display: inline-block;
	padding-left: 20px;
}

.order-tabs.nav-tabs>li.active>a {
	border: 1px solid #f00;
	border-top-color: transparent;
	margin-top: -1px;
}
.order-tabs.nav-tabs {
  border-top: 1px solid #ddd;
  border-top: 1px solid #f00;
  border-bottom-color: transparent;
  
  margin-top: 0;
}
.order-tab-content {
	min-height: 340px;
}

.size-table {
	background: #2c2626;
	background-color: #111010;
	color: #fff;
}
.size-table.table > thead > tr > th,
.size-table.table > thead > tr > td {
  
  background-color: #258ee3;
}
.size-table.table-striped > tbody > tr:nth-child(odd) > td,
.size-table.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #474444;
  background-color: #3f3b3b;
}

// .size-table.table-hover > tbody > tr:hover > td:not(:first-child),
.size-table.table-hover > tbody > tr:hover > td,
.size-table.table-hover > tbody > tr:hover > th {
  background-color: #5f5555;
}