/* footet */
.footer {
	min-height: 300px;
	background: #f2f2f2;
	border-top: 4px #FF5722 solid;
}
.footer-left {
	min-height: 300px;
	background: #1565C0;
	background: #000;
}

.footer-right {
	padding: 50px;
	background: #FF5722;
	background: #f40;
	color: #fff;
	min-height: 300px;
}
.footer-right li {
	list-style: none;
}
