.tailor-order-details {
	// border: 1px solid #ccc;
	box-shadow: 0px 0px 10px #bbb;
	margin-top: 20px;
	margin-bottom: 20px;
}

.tailor-order-details-img {
	padding: 0 auto;
	text-align: center;
}
.tailor-order-details-img img {
	box-shadow: 0px 0px 10px #bbb;
}

