{% extends "i/layout/staff_base.html" %}


{% block main_section %}
	<div class="container">
		<div class="row">


			<div class="col-lg-10 col-lg-offset-1">
				<br><br><br><br>

				<div class="row">
					<div class="alert alert-info">
						<a href="{% url 'staff:style_add_form' %}" class="btn btn-default">Add new style</a>
					</div>
					{% for style in styles %}
				  <div class="col-sm-6 col-md-4">
				    <div class="thumbnail">
				      <img src="/static/img/{{ style.style_img }}" alt="style.name" style="height:300px">
				      <div class="caption">
				        <h3>{{ style.name }}</h3>
				        <p>{{ style.description }}</p>
				        <p>
				        	<a href="{% url 'staff:style_edit' style.id %}" class="btn btn-primary">Edit</a>
				        	<a href="#" class="btn btn-info">Delete</a>
				        	<a class="btn pull-right" style="border:1px #f40b68 solid;color:#f40b68"> &#x20A6; {{ style.cost }} </a>
				        </p>
				      </div>
				    </div>
				  </div>
				  {% endfor %}
				</div>



			</div>

		</div>
	</div>
{% endblock %}