{% extends "i/layout/base.html" %}

{% block title %} {{ order.client }} | {{ title }} {% endblock %}

{% block main_section %}
<div class="col-lg-6 col-lg-offset-3 tailor-order-details"><br>
	<h1 class="page-header">{{ order.client }} <sup>( {{ order.sex }} )</sup></h1>
	<div class="row alert" style="background:#0f6bba;color:#fff">
		<h4 class="col-xs-4">ID : {{ order.main_order_id }}</h4>
		{% if order.status == 'IN PROGRESS' %}
			<h4 class="col-xs-4 shake-element">Job in progress</h4>
		{% else %}
			<h4 class="col-xs-4 shake-element">Job is available</h4>
		{% endif %}
		<h4 class="col-xs-4">{{ order.delivery_option|lower }}</h4>
	</div>
		<!-- <h3 class="alert alert-success"><b>Sex</b> {{ order.sex }}</h3> -->



		<table class="table table-striped table-hover table-bordered">
			<tr>
				<th>Body region</th>
				<th>Measurement</th>
			</tr>
{% for instance in size %}
	{% for field, value in instance.fields.items %}
		{% if value != None %}
			<tr>
				<td>{{ field }}</td>
				<td>{{ value }}</td> <!-- write logic to filter Fe[XL] and Ma[XL] -->
			</tr>
		{% endif %}
	{% endfor %}
{% endfor %}

		</table>
		<div class="tailor-order-details-img">
			<div class="row">
				<div class="col-lg-5 col-lg-offset-1">
					<h3>Fabric</h3>
					<img src="/static/img/fabrics/{{ fabric.image_url }}" width="200" height="200" class="img-thumbnail">
				</div>
				<div class="col-lg-6">
					<h3>Style</h3>
					<img src="/static/img/styles/{{ style.image_url }}"   width="200" height="200" class="img-thumbnail">
				</div>
			</div>
		</div>


		<br>
		<div class="">
		<hr style="border-color:#90A4AE">
			{% if order.status != 'IN PROGRESS' %}
				<a href="{% url 'suave:tailor_start_order' order.main_order_id %}" class="btn btn-success btn-lg">start job</a>
			{% endif %}
		<a href="{% url 'suave:tailor_dashboard' %}" class="btn btn-danger btn-lg">go back</a>
		</div>

	<br><br>
</div>

{% endblock %}