#id_sex li {
	display: inline-block;
	padding-left: 20px;
}
#id_sex li label, #id_delivery_option li label {
	font-weight: lighter;
}
#id_delivery_option li {
	display: inline-block;
	padding-left: 20px;
}

.order-tabs.nav-tabs>li.active>a {
	padding: 10px 50px;
}
.order-tabs.nav-tabs>li>a {
	padding: 10px 50px;
}
.order-tabs.nav-tabs {
  margin-bottom: 10px;
  margin-top: 70px;
}
.order-tab-content {
	min-height: 340px;
}

.size-table {
	background: #2c2626;
	background-color: #111010;
	color: #fff;
}
.size-table.table > thead > tr > th,
.size-table.table > thead > tr > td {
  
  background-color: #258ee3;
}
.size-table.table-striped > tbody > tr:nth-child(odd) > td,
.size-table.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #474444;
  background-color: #3f3b3b;
}

// .size-table.table-hover > tbody > tr:hover > td:not(:first-child),
.size-table.table-hover > tbody > tr:hover > td,
.size-table.table-hover > tbody > tr:hover > th {
  background-color: #5f5555;
}
.size-details {
	width: 100%;
}

.size-details-head, .size-details-head li {
	background: #FF3D00;
	background: #B3E5FC;
	margin-bottom: 5px;
	border: none !important;
}

.size-details li {
	border-right: 1px #000 solid;

	line-height: 30px;
	display: inline-block;
	margin: 0;
	width: 70px;
	text-align: center;
}

.size-container:nth-child(odd) {
	background: #80DEEA;
}

.size-container {
	background: #cec;
}

.size-container:hover {
	background: #4CAF50;
}

label {
  display: block;
  font-weight: lighter;
  cursor: pointer;
}

// .fabric {
// 	text-align: center;
// 	padding: 10px;
// }
// .fabric input, .size-container input {
// 	display: block;
// 	// display: none;
// }

// label input:checked ~ .size-container, label input:checked ~ .fabric {
// 	background: #545000;
// }



.size-container:target {
	background: #000;
}

/*changes background:  of fabric and style when selected*/
.radio_select_new_color {
	background: #FF8F00 !important;
}

.thumbnail {
	position: relative;
}




.selection-gallery {
	border: 1px #388E3C solid;
	background: #f3f8f3;
}

.fabric input, .style input, .size-container input {
	display: block;
	display: none;
}
.thumbnail-hidden-caption {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	text-align: center;
	width: 100%;
	height: 27%;
	bottom: 0;
	left: 0;
	display: none;
}
