@import "framework/bootstrap-3.min.css";
@import "variables";
@import "header";
@import "jumbotron";
@import "footer";
@import "signup";
@import "home";
@import "tailor/tailorHome";
@import "tailor/tailorOrderDetails";
@import "client/jquery.lightbox-0.5.css";
@import "client/dashboard";
@import "client/order";
/* Variables */




/* header */
#header {
	@include margin(-10px, auto, auto, auto);
}
*:not(span) {
	@include border-radius(0);
	// @include padding(0, 0, 0, 0);
}
.container {
	// @include padding(0, 0, 0, 0);
	// padding: 0;
	// margin: 0;
}
.page-header {
	text-align: center;
	overflow: hidden;
}
body {
	color: #000;
	font-family: $font-stack;
}

@font-face {
		font-family: 'weblysleek';

		src: url('../font/weblysleek/weblysleekuisl.ttf') format('truetype');
		src: url('../fonts/weblysleekuil.ttf') format('truetype');
		// src: url('../fonts/Raleway-Thin.ttf') format('truetype');
		// src: url('../fonts/Raleway-ExtraBold.ttf') format('truetype');
		// src: url('../fonts/Raleway-ExtraLight.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}
@font-face {
		font-family: 'GothamRoundedMedium';
		src: url('../fonts/GothamRoundedMedium.ttf') format('truetype');
		font-weight: lighter;
}