<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}">
		<title>{% block title %}  {% endblock %}</title>

	</head>


	{% if tailorPage %}
	<body class="tailorPage-color">
	{% else %}
	<body>
	{% endif %}




	{% block utilityHeader %}

	{% endblock %}




	{% if user.is_staff %}
		<nav class="navbar navbar-default" role="navigation" style="background:#FFF9C4">
	{% else %}
		<nav class="navbar navbar-default" role="navigation">
	{% endif %}
			<div class="container">
				<div class="row">
					<!--header section -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						<div id="header">
							<a class="navbar-brand" href="/suave">
								<img src="{% static 'img/my_logo_1.png' %}">
							</a>
						</div>

					</div>
					<!-- menu section -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<!-- <ul class="nav navbar-nav navbar-right"> -->
						<ul class="nav navbar-nav navbar-left">
							<!-- <li class=""><a href style="background:#">{explore}</a></li>
							<li class=""><a href="{% url 'suave:tailor_home' %}">{people}</a></li>
							<li class=""><a >{about}</a></li>
							<li class=""><a >{contact}</a></li> -->
							
						</ul>
						<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated and user.is_staff %}
							<li><a href="{% url 'suave:signout' %}" style="color:#f00"><span class="fa fa-sign-out">&nbsp;</span>sign out</a></li>
							<li><a class="">{{user}}</a></li>
						{% else %}
							<li><a role="button" class="" data-toggle="modal" data-target=".bs-example-modal-sm">sign in {deprecate}</a></li>
						{% endif %}
							<li><a style="background:#f60;color:#fff"><span class="fa fa-cog fa-lg fa-spin">&nbsp;</span>&nbsp;</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>





		{% block header %}
		


		{% endblock %}




		{% block jumbotron %}

		{% endblock %}















		<div class="container">
			<div class="row">

					{% block main_section %}

					{% endblock %}




			</div>
			{% if user.is_authenticated %}
				<a href="{% url 'staff:admin_gateway' %}" class="btn btn-primary btn-lg">Staff Home</a><br>
			{% endif %}
		</div>

		<div class="footer">
			<div class="col-lg-3 footer-left">
			<br><br>
				<img src="{% static 'img/my_logo.png' %}">
			</div>



			<div class="col-lg-9 footer-right">
				<ul class="col-sm-3">
					<li><h3>Support</h3></li>
					<li>Pricing</li>
					<li>Clients</li>
					<li>Partners</li>
					<li>Press</li>
				</ul>
				<ul class="col-sm-3">
					<li><h3>Site</h3></li>
					<li>Home</li>
					<li>About</li>
					<li>Careers</li>
					<li>Team</li>
				</ul>
				<ul class="col-sm-3">
					<li><h3>Sitemap</h3></li>
					<li>Contact</li>
					<li>Blog</li>
					<li>Status</li>
					<li>Security/Guaranty</li>
				</ul>
				<div class="col-sm-3">
					<h3>Address</h3>
					<p>22343 BX</p>
					<p>Infinite Loop</p>
					<p>Palo Alto, CA</p>
				</div>
			</div>
		</div>


		<div class="footer-base">

		</div>



		<div class="watermark">
			<!-- <p class="fa fa-wrench fa-5x"></p> -->
			<!-- <p><span class="fa fa-spinner fa-spin"></span></p> -->
			<p><span class="fa fa-cog fa-spin"></span></p>
		</div>
	</body>
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.effects.shake.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.lightbox-0.5.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/my_script.js' %}"></script>
</html>