{% extends "i/layout/base.html" %}

{% block title %} {{ title }} {% endblock %}



{% block main_section %}



	{% if registered %}
	<div class="new-register">
		<h3>Thanks for registering, you can place order with greate rate and receive fast response.</h3>
	</div>
	{% endif %}
	<div class="client-dashboard-panel panel panel-body panel-success">
		<a href="{% url 'suave:order' %}" class="btn btn-success">create order</a>
		<a href="" class="btn btn-info">view order progress</a>
	</div>
	<h1>{{ username }}</h1>
	<hr>
	<h3>{{ email }}</h3>
	<p>You are {{ sex }}</p>
	<br><br><br><br><br>
	<div id="create-order" style="background:#000">
		llll
	</div>
{% endblock %}
