{% extends "i/layout/base.html" %}
{% block title %} {{ user }} -  {{ title }} {% endblock %}
{% block main_section %}
	<div class="col-lg-10 col-lg-offset-1">
		<h1 class="page-header">Create an order</h1>

		<form class="form-order" method="POST" action="{% url 'suave:createOrder' %}">
		{% if error %}
			<div class="shaker"><h3 class="alert alert-danger">{{ error }}</h3></div>
		{% endif %}


		{% csrf_token %}


			<div class="tab-content order-tab-content">
				<div role="tabpanel" class="tab-pane active" id="home">
					<div class="row">
						<div class="col-lg-6 col-lg-offset-3 order-tab-content" style="">
							<div class="form-group">
								<div class="row">
									<h4>Select choice of fabric</h4>
									{% for fabric in fabrics %}
										<div class="fabric col-lg-6">
											
											<label for="{{ fabric.image_url }}">
												<input type="radio" id="{{ fabric.image_url }}" name="fabric" value="{{ fabric.id }}">
												<img src="/static/img/fabrics/{{ fabric.image_url }}" height="200" width="200">
											</label>
											<p>{{ fabric.name }}</p>
										</div>
									{% endfor %}
								</div>
								{% for field in order_form.visible_fields %}
								{{ field.errors }}
								<h4>{{ field.help_text }}</h4>
								<ul class="list-group">
									{{ field }}
								</ul>
								{% endfor %}
							</div>

						</div>
					</div>
				</div>



				<div role="tabpanel" class="tab-pane" id="female">
					<div class="row">
						<div class="col-lg-6 col-lg-offset-3 order-tab-content" style="">
							<div class="size-details size-details-head">__
								<li>Size</li>
								<li>Chest</li>
								<li>Waist</li>
								<li>Hips</li>
								<li>Sleeve</li>
								<li>Collar</li>
							</div>

						{% for i in female_size_table %}
						<div class="size-container">
							<label for="{{ i.id }}">
							<div class="size-details">.
								<input type="radio" id="{{ i.id }}" value="{{ i }}" name="sizeTable">
								<li>{{ i | cut:'Fe'}}</li>
								<li>{{ i.collar }}</li>
								<li>{{ i.waist }}</li>
								<li>{{ i.hips }}</li>
							</div>
							</label>
						</div>
						{% endfor %}
						</div>
					</div>
				</div>



				<div role="tabpanel" class="tab-pane" id="male">
					<div class="row">
						<div class="col-lg-6 col-lg-offset-3 order-tab-content" style="">
							<div class="size-details size-details-head">__
								<li>Size</li>
								<li>Chest</li>
								<li>Waist</li>
								<li>Hips</li>
								<li>Sleeve</li>
								<li>Collar</li>
							</div>

						{% for i in male_size_table %}
						<div class="size-container">
							<label for="{{ i.id }}">
							<div class="size-details">.
								<input type="radio" id="{{ i.id }}" value="{{ i }}" name="sizeTable">
								<li>{{ i | cut:'Ma'}}</li>
								<li>{{ i.collar }}</li>
								<li>{{ i.waist }}</li>
								<li>{{ i.hips }}</li>
							</div>
							</label>
						</div>
						{% endfor %}
						</div>
					</div>
				</div>

				<div role="tabpanel" class="tab-pane" id="settings">
					<div class="row">
							<div class="col-lg-6 col-lg-offset-3 order-tab-content" style="">
								<h4>Other Details (optional)</h4>
								<br><br>
								<textarea class="form-control">
								Anything you want us to know
								</textarea>
								<br><br>
								<div class="form-signup-base">
									<input type="submit" class="btn btn-success btn-lg" value="Submit">
								</div>
							</div>
						</div>
				</div>
			</div>
			<br><br>
			<div>
				<ul class="nav nav-tabs order-tabs col-lg-6 col-lg-offset-3" role="tablist">
					<!-- <ul class="nav nav-pills order-tabs col-lg-6 col-lg-offset-3" role="tablist"> -->
					<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><span class="fa fa-info fa-lg"></span> Home</a></li>
					<li role="presentation"><a href="#female" aria-controls="female" role="tab" data-toggle="tab"><span class="fa fa-scissors fa-lg"></span> Female</a></li>
					<li role="presentation"><a href="#male" aria-controls="male" role="tab" data-toggle="tab"><span class="fa fa-scissors fa-lg"></span> Male</a></li>
					<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><span class="fa fa-spinner fa-spin"></span> Last</a></li>
				</ul>
			</div>
			
			<br><br>
		</form>
	</div>
{% endblock %}